.footerContainer {
  display: inline-block;
  width: 80vw;
  height: 70px;
  background-color: #115173;
  position: absolute;
  bottom: 0;
  right: 0;
}

.footerContent {
  text-align: center;
  margin-top: 25px;
}
