.mainContentContainer {
  display: inline-block;
  width: 80vw;
  height: calc(100vh - 130px);
  float: right;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(100, 100, 100, 0.3);
}
